<form>            
    <div class="languages">
        <input type="button" value="LV" class="LV" ng-click="editor.switchLanguage('LV')">
        <input type="button" value="RU" class="RU" ng-click="editor.switchLanguage('RU')">
    </div>
    
    <div class="names">
        <input name="NameLV" ng-model="editor.working.name.LV" ng-blur="editor.generateMachineName()" class="lang-switchable LV" placeholder="Nosaukums">
        <input ng-model="editor.working.name.RU" class="lang-switchable RU" placeholder="Hазвание">
    </div>
    
    <div class="machine-name">
        <input ng-model="editor.working.machineName" readonly placeholder="Machine name">
    </div>
    
    <div class="price">
        <label>Cena (EUR)</label>
        <input ng-model="editor.working.price" currency-mask>
    </div>   

    <div class="description">
        <textarea ng-model="editor.working.description.LV" class="lang-switchable LV" placeholder="Apraksts..."></textarea>
        <textarea ng-model="editor.working.description.RU" class="lang-switchable RU" placeholder="Oписание..."></textarea>
    </div>         

    <div class="categories">
        <label>Produkta kategorija</label>
        <category-picker category-keys="editor.working.categoryKeys"></category-picker>
    </div>

    <div class="images">
        <label>Foto</label>
        <image-picker images="editor.working.images"></image-picker>
    </div>

    <div class="product-edit-buttons">    
        <input type="button" ng-click="editor.save()" value="Saglabāt">
        <input type="button" ng-click="editor.revert()" value="Atcelt">
        <input type="button" value="Dzēst">
    </div>
</form>