
<products>
    <div id="productFilterBar">
        <product-searchbox></product-searchbox>
        <input type="button" ng-click="products.create()" value="Create new" />
    </div>

    <product ng-repeat="p in products.filteredItems track by p._id" ng-init="product.init(p)">
        <form>
            <div class="names">
                <input ng-model="product.working.name.LV" class="latvian-input" />
                <input ng-model="product.working.name.RU" class="russian-input" />
            </div>

            <div class="description">
                <textarea class="latvian-input"></textarea>
                <textarea class="russian-input"></textarea>
            </div>


            <image-set images="product.working.images"></image-set>

            <input type="button" ng-click="product.save()" value="Save" />
            <input type="button" ng-click="product.revert()" value="Revert" />
        </form>
    </product>


</products>
