
* {
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
}


body {
    margin: 0;
    background-color: rgb(40, 40, 40);
}


#cropContainerHeader {
    width: 400px;
    height: 400px;
    position: absolute; /* or fixed or absolute */
}

div#productFilterBar {
    display: block;
    width: 100%;
    background-color: darkblue;
    padding-left: 3px;
    box-shadow: 0 2px 2px;
    margin-bottom: 2px;
}

div#productFilterBar input {
    margin: 4px;
    margin-left:12px;
}

product-searchbox input {
    width: 250px;
}




product {
    display: inline-block;
    margin: 3px 7px 7px 7px;
    padding: 10px;
    border-radius:10px;
    background-color: #65A1FF;
    box-shadow: 3px 3px 6px black;
    vertical-align:top;
}

product.dirty {
    background-color: #FF6D62;
}

product .names {
    display: inline-block;
    vertical-align: top;
}

product .names input {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
    margin-top: 4px;
    margin-bottom:4px;
    padding: 4px;
    font-weight: bold;
}

input[type="button"] {
    border-radius:5px;
}

input[type="search"] {
    border-radius:5px;
}

input:not([type]) {
    border-radius:5px;
}

textarea {
    border-radius:5px;
}

.price input {
    width:115px;
    margin-bottom:3px;
    padding-left:3px;
}

.description textarea{
    width:300px;
    height:100px;
    margin-top:2px;
    margin-bottom:5px;
    padding-left:3px;
    padding-right:3px;
}

category-chip {
    width:auto;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom:5px;
    padding-left:7px;
    padding-right:7px;
    display: table;
    border-radius:5px;
}

.delete-product-category {
    background-image:url('../img/delete_button.png');
    background-size:22px 22px;
    background-repeat:no-repeat;
    border:none;
    background-color:none;
    width:22px;
    height:22px;
    display:inline-block;
    vertical-align: bottom;
}

image-picker {
  display:block;
  margin-bottom:10px;  
}

image-instance {
    position: relative;
    margin-right: 5px;
}

image-instance img {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius:10px;
}

image-instance input[type="button"] {
    opacity: 0.3;
    border: 0;
    position: absolute;
    right:0px;
}

image-instance input[type="button"]:hover {    
    opacity: 1;
}

.images label {
    display:block;
    margin-top:10px;
}

.product-edit-buttons {
    display:block;
    width:190px;
    margin: 0 auto;
}



/***************************************************************************************/



#sectionMenu {
    background-color: darkblue;
}

#sectionMenu li {
    display: inline-block;
    margin-right: 10px;
}

#sectionMenu a {
    color: white;
    font-family: sans-serif;
}




/******************************************************/


#categoryPage {
    width: 100%;
    background-color: white;
}

category-tree {
    display: inline-block;
    clear: none;
    width: 100%;
}

category-tree.isDirty {
    border: 2px solid red;
}


#categoryEdit {
    display: inline-block;
    vertical-align:top;
}




.hidden {
    display: none;    
}




span.fancytree-node {
    width: initial;
}

div.extrasRight {
    position: absolute;
    left: 100px;
    display: inline-block;
    margin-left: 30px;
}



div.extrasRight input {
    font-size: small;
    margin-right: 5px;
}



div.extrasRight span.key {
    font-size: xx-small;
    float: left;
}

div.extrasRight span.key:before {
    content: '_id: ';
}


div.extrasRight input[type="button"] {
    float: left;
}


span.fancytree-node {
    display: inline-block;
    vertical-align: top;
}






div.extrasRight input[type="button"],
div.extrasBelow input[type="button"] {
    font-size: x-small;
    border: none;
    background: none;
    font-style: italic;
    /*text-decoration: underline;*/
    color: blue;
}

div.extrasBelow {
    margin-left: 32px;
}