
* {
    font-family: serif;
}


body {
    margin: 0;
    background-color: rgb(40, 40, 40);
}


#cropContainerHeader {
    width: 400px;
    height: 400px;
    position: absolute; /* or fixed or absolute */
}


product-image {
    display: inline-block;
    width: 140px;
    height: 140px;
}

product-image .productImage {
    width: 120px;
    height: 120px;
}


div#productFilterBar {
    display: block;
    width: 100%;
    background-color: darkblue;
    padding-left: 3px;
    box-shadow: 0 2px 2px;
    margin-bottom: 2px;
}

div#productFilterBar input {
    margin: 4px;
}

product-searchbox input {
    width: 250px;
}








product {
    display: inline-block;
    margin: 3px 7px 7px 7px;
    padding: 4px;
    background-color: royalblue;
    box-shadow: 3px 3px 6px black;
}

product.dirty {
    background-color: red;
}



product .names {
    display: inline-block;
    vertical-align: top;
}

product .names input {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
    margin: 4px;
    padding: 4px;
    font-weight: bold;
}




image-set {
    display: inline-block;
    vertical-align: top;

    background-color: rgba(255,255,255,0.4);
    padding:5px;
}

image-set-record {    
    position: relative;
    margin: 5px;
}

image-set-record img {
    width:120px;
}

image-set-record input[type="button"] {
    opacity: 0.1;
    border: 0;
    position: absolute;
    right:0px;
}

image-set-record input[type="button"]:hover {    
    opacity: 1;
}






#sectionMenu {
    background-color: darkblue;
}

#sectionMenu li {
    display: inline-block;
    margin-right: 10px;
}

#sectionMenu a {
    color: white;
    font-family: sans-serif;
}




/******************************************************/


#categoryPage {
    width: 100%;
    background-color: white;
}

category-tree {
    display: inline-block;
    clear: none;
    width: 100%;
}

category-tree.isDirty {
    border: 2px solid red;
}


#categoryEdit {
    display: inline-block;
    vertical-align:top;
}




.hidden {
    display: none;    
}




span.fancytree-node {
    width: initial;
}

div.extrasRight {
    position: absolute;
    left: 100px;
    display: inline-block;
    margin-left: 30px;
}



div.extrasRight input {
    font-size: small;
    margin-right: 5px;
}



div.extrasRight span.key {
    font-size: xx-small;
    float: left;
}

div.extrasRight span.key:before {
    content: '_id: ';
}


div.extrasRight input[type="button"] {
    float: left;
}


span.fancytree-node {
    display: inline-block;
    vertical-align: top;
}






div.extrasRight input[type="button"],
div.extrasBelow input[type="button"] {
    font-size: x-small;
    border: none;
    background: none;
    font-style: italic;
    /*text-decoration: underline;*/
    color: blue;
}

div.extrasBelow {
    margin-left: 32px;
}