@using Bodite.Services;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Bodite.Front.ViewModel.HomePage>
<!DOCTYPE html>

<html>
    <head>
        <title>Brigitas Bodite</title>
    </head>

    <body>
        <header>
            <h1>Brigitas Bodite</h1>
        </header>
    
        <aside>
            @Html.Partial(Model.Menu.GetType().Name, Model.Menu)
        </aside>


        <section>
            Hello! Welcome to Brigitas Bodite, home of cheap clothing.            
        </section>
    
        <footer>
            <small>&copy; WoodPigeon Design 2015</small>
        </footer>

    </body>
</html>